@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100&display=swap');

.container {
  text-align: center;
  text-shadow: 4px 2px 10px black;
  background-color: black;
}

.bio-title {
  font-size: 70px;
  font-family: 'Trispace', sans-serif;
  font-style: italic;
  z-index: 1000000;
  text-shadow: 10px;
  padding-top: .5em;
  line-height: 5rem;
  text-align: left;
}

.return-btn-bio {
  display: inline-block;
  text-align: left;
  padding-top: 30%;
}

.subtitle {
  position: relative;
  float: left;
  padding-top: 22%;
  width: 50%;
  line-height: 150%;
  text-align: left;
  padding-right: 40%;
  text-overflow:ellipsis;
  text-shadow: 2px 0 3 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.bio-img {
  width: 100%;
  opacity: 90%;
  min-width: 0;
}

.bio-table {
  align-items: center;
  justify-content: center;
  padding-right: 10vw;
  padding-left: 10vw;
  line-height: 2rem;
  th, td {
    padding-left: 4rem;
    padding-top: 2rem;
  }
  .image-cell {
    width: 45%;
  }
}

@media(max-width: 768px){ 
  .container{
    flex-direction: column;
  }
  // now your first column will take the full width of the parent 
  // container which will push the second column below it
  .container__col-1{ 
    width: 100%;
  }
  .container__col-2{
    width: 100%;
  }
}
