@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100&display=swap');
@import '../../styles.scss';

.bio-container {
  text-align: center;
  text-shadow: 4px 2px 10px black;
  padding-bottom: 3rem;
  margin-left: 0;
  background-color: $background-color;
}

.bio-title {
  font-family: 'Trispace', sans-serif;
  font-style: italic;
  text-shadow: 10px;
  line-height: 5rem;
  text-align: left;
}

