<div *ngIf="{ bio: bio$ | async, img: bioImage$ | async } as data" class="pt-6">
  <div
    *ngIf="data.bio && data.img"
    [ngClass]="{
      'opacity-0': !loaded,
    }"
    class="transition-all duration-500"
  >
    <div
      *ngFor="let chunk of data.bio; let index = index"
      class="lg:text-md ml-auto mr-auto h-auto w-11/12 font-bea text-xs md:w-3/4 md:text-sm lg:text-lg"
    >
      <div class="p-4">{{ chunk }}</div>
      <img
        *ngIf="index == 0 && data.img"
        [src]="data.img"
        (load)="onload()"
        class="ml-auto mr-auto w-5/6 text-wrap rounded-xl shadow-2xl shadow-black sm:float-left sm:m-6 sm:ml-4 sm:max-w-[400px] md:max-w-[450px] lg:max-w-[600px] xl:max-w-[700px]"
      />
    </div>
  </div>
</div>
<app-loader [loading]="!loaded"></app-loader>
