<ng-container *ngIf="{ bio: bio$ | async, img: bioImage$ | async } as data; else loading" #about>
  <div class="container" *ngIf="data.bio">
    <table class="bio-table">
      <tr>
        <th colspan="2">
          <h1 class="bio-title">
            about charlie
          </h1>
        </th>
      </tr>
      <tr *ngIf="!singleColumn()">
        <td [attr.rowspan]="data.bio.length - 1" class="image-cell">
          <img [src]="data.img">
        </td>
        <td>
          {{data.bio[0]}}
        </td>
      </tr>
      <tr *ngIf="singleColumn()">
        <td>
          {{data.bio[0]}}
        </td>
      </tr>
      <ng-container *ngFor="let paragraph of data.bio.slice(1, data.bio.length - 1);">
        <tr>
          <td>{{paragraph}}</td>
        </tr>
      </ng-container>
      <tr>
        <td [attr.colspan]="getBottomColSpan()">
          {{data.bio[data.bio.length-1]}}
        </td>
      </tr>
      <tr *ngIf="singleColumn()">
        <td [attr.rowspan]="data.bio.length - 1" class="image-cell">
          <div class="bio-img">
            <img [src]="data.img">
          </div>
        </td>
      </tr>
    </table>
    <div>
      
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div>
    loading data.bio...
  </div>
</ng-template>