<table class="menu-content" *ngIf="opened">
    <tr>
        <td><app-streaming-links></app-streaming-links></td>
        <td><app-social-links></app-social-links></td>
    </tr>
    <tr>
        <td class="hover" colspan="2">
            bio
        </td>
    </tr>
    <tr>
        <td class="hover" colspan="2">
            shows
        </td>
    </tr>
    <tr>        
        <td class="hover" colspan="2">
            contact
        </td>
    </tr>
    <tr>        
        <td class="hover" colspan="2">
            newsletter
        </td>
    </tr>
</table>