<div class="parallax-container" id="parallax-container">
  <ng-container *ngIf="isCollapsed">
    <app-sidebar (scrollOutput)="scroll($event)"></app-sidebar>
  </ng-container>
  <div class="background">
    <div class="img-container"><img class="bg-img terrace" src="../../assets/images/terrace-bass.jpg"></div>
    <div *ngIf="!isCollapsed" class="img-container"><img class="bg-img green-mill" src="../../assets/images/greenMill.jpg"></div>
    <div *ngIf="!isCollapsed" class="img-container"><img class="bg-img lincoln-hall" src="../../assets/images/IMG_0078.jpg"></div>
    <div *ngIf="!isCollapsed" class="footer-spacer"></div>
  </div>


  <div class="foreground">
    <h1 class="main-title">
      charlie palm
      <table class="links-table" *ngIf="!isCollapsed">
        <tr>
          <td><app-streaming-links></app-streaming-links><td>
          <td><app-social-links></app-social-links></td>
        </tr>
      </table>
    </h1>
  </div>
  <div class="foreground bio-container" id="about">
    <app-bio-page></app-bio-page>
  </div>
  <div *ngIf="isCollapsed" class="img-container"><img class="bg-img green-mill" src="../../assets/images/greenMill.jpg"></div>
  <div class="foreground shows-container" id="shows">
    <app-shows-page></app-shows-page>
  </div>
  <div *ngIf="isCollapsed" class="img-container"><img class="bg-img lincoln-hall" src="../../assets/images/IMG_0078.jpg"></div>
  <div class="foreground contact-container" id="contact">
    <app-contact-page></app-contact-page>
  </div>
</div>