@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100&display=swap');
$main-title-padding: 8rem;

.main-title {
  font-family: 'Trispace', sans-serif;
  text-shadow: 2px 0 3 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  font-style: italic;
  z-index: 1000000;
  text-shadow: 10px;
  padding-top: $main-title-padding;
  margin: auto;
  padding-left: 1vw;
}

.subtitle {
  padding-top: 2ch;
  text-shadow: 2px 0 3 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.nav-table {
  td {
    border-spacing: 2rem 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 0 3 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  }
}

.bio-container {
  padding-bottom: 8rem;
}

.green-mill {
  //padding-top: calc(85rem - 45vw);
}

.contact-container {
  width: 100%;
}

.page-container {
  margin-top: calc(80vh - $main-title-padding);
}