<div class="parallax">
  <div class="parallax-group">
    <div class="header parallax-layer parallax-layer-base">
      <table class="header-table">
        <td class="left-clmn">
          <ng-container *ngIf="!isCollapsed">
            <app-streaming-links></app-streaming-links>
          </ng-container>
          <ng-container *ngIf="isCollapsed">
            <button mat-icon-button (click)="toggleSidebar()"></button>
          </ng-container>
        </td>
        <td class="mid-clmn">
          <h1 class="title">
            charlie palm
          </h1>
        </td>
        <td class="right-clmn" *ngIf="!isCollapsed">
          <app-social-links></app-social-links>
        </td>
      </table>
    </div>
    <div class="bg parallax-layer parallax-layer-back">
      <img class="bg-img" src="../../assets/images/terrace-bass.jpg">
    </div>
  </div>
  <div class="parallax-group">
    <div class="">
      <div class="bio bio-container parallax-layer parallax-layer-base" #about>
        <app-bio-page [dataLoader]="dataLoader"></app-bio-page>
      </div>
    </div>
    <div class="parallax-layer parallax-layer-back">
      <img class="bg-img second-img" src="../../assets/images/IMG_0078.jpg">
    </div>
    <div class="parallax-group contact-container">
      <div class="contact-container">
        <div class="contact parallax-layer parallax-layer-base" #contact>
          <app-contact-page [dataLoader]="dataLoader"></app-contact-page>
        </div>
      </div>
    </div>
  </div>
</div>


  <!--ng-container>
  <div class="nav-table">
    <i class="hover back-text-hover" (click)="navigate(state.booking)">
      booking
    </i>
    <i class="hover back-text-hover lr-padding" (click)="navigate(state.shows)">
      shows
    </i>
    <i class="hover back-text-hover" (click)="navigate(state.bio)">
      bio
    </i>
  </div>
  </ng-container-->