<div class="parallax">
  <div class="parallax-group">
    <div class="header parallax-layer parallax-layer-base">
      <table class="header-table">
        <tr>
          <td class="left-clmn">
            <ng-container *ngIf="!isCollapsed">
              <app-streaming-links></app-streaming-links>
            </ng-container>
          </td>
          <td class="mid-clmn col-lg-12">
            <h1 class="main-title">
              charlie palm
            </h1>
          </td>
          <td class="right-clmn" *ngIf="!isCollapsed">
            <app-social-links></app-social-links>
          </td>
          <td class="menu-toggle col-sm-2" *ngIf="isCollapsed">
            <button mat-icon-button (click)="toggleMenu()">
              <mat-icon *ngIf="!menu.opened">
                  menu
              </mat-icon>
              <mat-icon *ngIf="menu.opened">
                  close
              </mat-icon>
            </button>
          </td>
        </tr>
      </table>
      <app-menu></app-menu>
    </div>
    <div class="parallax-layer parallax-layer-back">
      <img class="bg-img terrace" src="../../assets/images/terrace-bass.jpg">
    </div>
    <div class="bio bio-container parallax-layer parallax-layer-base" #about>
      <app-bio-page [dataLoader]="dataLoader"></app-bio-page>
    </div>
    <div class="parallax-layer parallax-layer-back">
      <img class="bg-img green-mill" src="../../assets/images/greenMill.jpg">
    </div>

    <div class="shows-container parallax-layer parallax-layer-base" #shows>
      <app-shows-page [dataLoader]="dataLoader"></app-shows-page>
    </div>
    <div class="parallax-layer parallax-layer-back">
      <img class="bg-img lincoln-hall" src="../../assets/images/IMG_0078.jpg">
    </div>
    <div class="contact parallax-layer parallax-layer-base" #contact>
      <app-contact-page [dataLoader]="dataLoader"></app-contact-page>
    </div>
  </div>
</div>
