@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100&display=swap');
$main-title-padding: 2rem;
// base image
.terrace {
  width: 170rem;
  margin-left: -20rem;
}

table {
  padding-left: 32rem;
}

.main-title {
  font-family: 'Trispace', sans-serif;
  text-shadow: 2px 0 3 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  font-style: italic;
  text-shadow: 10px;
  padding-top: $main-title-padding;
  padding-left: 0rem;
  width: 49rem;
  margin-left: 6rem;
  font-size: 100px;
}

.nav-table {
  td {
    border-spacing: 2rem 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 0 3 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  }
}

.bio-container {
  padding-bottom: 8rem;
}

.green-mill {
  //padding-top: calc(85rem - 45vw);
}

.contact-container {
  width: 100%;
}

.page-container {
  margin-top: 50rem;
}

.bg-img {
  opacity: 0;
  transition: opacity 0.5s;
}

.bg-img.visible {
  opacity: 1;
}