
html {
  height: 100%;
  margin: 0;
  background: #333436;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #ebedf5;
  z-index: -100 !important;
  background-size: cover;
}

.hover {
  cursor: pointer;
  text-shadow: 2px 0 3 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000 !important;
}

.text-hover {
  font-style: italic;
  font-size: 16px;
}

.text-hover:hover{
  font-size: 20px;
  font-weight: bold;
}

.back-text-hover {
  font-style: italic;
  font-size: 24px;
}

.back-text-hover:hover{
  font-size: 32px;
  font-weight: bold;
}


.return-btn {
  font-size: 28px;
}
