@tailwind base;
@tailwind components;
@tailwind utilities;

$p-font-size: 18px;
$text-color: #ebedf5;

html {
  background-color: #161210;
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: Quixote;
    font-weight: normal;
    font-style: normal;
    src: url("assets/fonts/TAYBoneQuixote.otf") format("opentype");
  }
  @font-face {
    font-family: Bea;
    font-weight: normal;
    font-style: normal;
    src: url("assets/fonts/TAYBea.otf") format("opentype");
  }
}

body {
  padding: 0;
  margin: 0;
}
