$perspective: 8px;
$perspective-val: 8;
$p-font-size: 18px;
$foreground-z: 3px;
$foreground-z-val: 3;
$background-z: -1.5px;
$background-z-val: -1.5;
$foreground-font-size: calc(z-multiplier($foreground-z) * $p-font-size);
$mg-z: 2px;
$mg-z-val: 2;
$text-color: #ebedf5;

$background-color: #161210;

html {
  min-height: 100%;
  min-width: 100%;
  background: $background-color;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: $text-color;
  z-index: -100000 !important;
  scroll-behavior: smooth;
}

td {
  font-size: $p-font-size;
  line-height: 2.5rem;
}

body {
  padding: 0;

  margin: 0;
}

.no-scroll {
  height: 100% !important;
  overflow: hidden !important;
}

@function perspective-scale($z) {
  @return calc(($perspective-val - $z) / $perspective-val);
}


.bg-img {
  height: 100%;
}

// shared

.header {
  background-color: #161210;
  top: 0; right: 0; bottom: 0; left: 0;
  position: absolute;
  width: 100%;
  height: 8rem;
}

.hover {
  cursor: pointer;
  text-shadow: 2px 0 3 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000 !important;
  opacity: 70%;
  transition: all .15s ease-in;
  &:hover {
    opacity: 100%;
  }
}


.return-btn {
  font-size: 28px;
}

// parallax transformations
.parallax-container {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  &.sidebar {
    overflow: hidden; // prevent scrolling when sidebar is active
  }
}

.parallax-container

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
}

.foreground {
  z-index: $foreground-z;
}

.middle-ground {
  z-index: $mg-z;
}

@media only screen and (min-width: 2400px) {
  .bg-img {
    width: 100%;
  }
}

// add parallax at 1091
@media (min-width: 1091px) {
  .parallax-container {
    perspective: $perspective;
    perspective-origin: 0 0;
    transform-style: preserve-3d;
  }

  .background {
    transform-origin: 0 0;
    transform: translateZ($background-z) scale(perspective-scale($background-z-val));
  }

  .foreground {
    transform-origin: 0 0;
    transform: translateZ($foreground-z) scale(perspective-scale($foreground-z-val));
  }

  .middle-ground {
    transform-origin: 0 0;
    transform: translateZ($mg-z) scale(perspective-scale($mg-z-val));
  }
}

// mobile/bg-img transformations
@media only screen and (max-width: 800px) {
  td {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 1570px) {
  td {
    font-size: 16px !important;
  }
}

// loading

.loader {
  border-top: 16px solid black;
  border-right: 10px solid #8B8773;
  border-bottom: 16px solid #5F2416;
  border-left: 10px solid #685973;
  width: 3rem;
  height: 3rem;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  border-radius: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
