@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100&display=swap');

.container {
  text-align: center;
  text-shadow: 4px 2px 10px black;
  background-color: black;
  padding-bottom: 2rem;
  padding-top: 1rem;
  width: 100%;
}


.title {
  font-size: calc(5vw + 1rem);
  font-family: 'Trispace', sans-serif;
  font-style: italic;
  z-index: 1000000;
  text-shadow: 10px;
}

.show-table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
  width: 90%;
  td {
    font-size: calc(.56vw + .5rem);
    line-height: calc(2vw + 1rem);
  }
}

.return-btn-shows {
  text-align: center !important;
}

.loader {
  text-align: center;
  font-size: 5rem;
}
