<!--app-bg-img [imgSrc]="'../../assets/images/0B8B2E8C-BB9A-43F5-A40F-246E863EF5D9.JPG'"></app-bg-img!-->
<ng-container>
  <div class="container" *ngIf="gigs$ | async as gigs; else loading">
    <h1 class="title">
      upcoming shows
    </h1>
    <ng-container *ngIf="!gigs.length">
      <div class="centered no-gigs">
        no gigs on the calendar for now - check back soon!
      </div>
    </ng-container>
    <ng-container *ngIf="gigs.length">
      <table class="show-table">
        <tr class="row-label">
          <td>
            DATE
          </td>
          <td>
            TIME
          </td>
          <td>
            LOCATION
          </td>
          <td>
            BAND
          </td>
          <td>
            COVER
          </td>
        </tr>
        <ng-container *ngFor="let gig of gigs">
          <tr>
            <td>
              {{gig.date | date : 'shortDate'}}
            </td>
            <td>
              {{gig.time}}
            </td>
            <td>
              {{gig.venue}}
            </td>
            <td>
              {{gig.bandName}}
            </td>
            <td>
              {{gig.cover ? gig.cover : 'FREE'}}
            </td>
          </tr>
        </ng-container>
      </table>
    </ng-container>
  </div>
</ng-container>

<ng-template #loading>
  <div class="centered">
    loading shows...
  </div>
</ng-template>