@import "../../styles.scss";

.grid-container {
  height: 80%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-lg {
  font-size: 24px;
}

.grid {
  display: grid;
  gap: 2rem;
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.title {
  font-size: calc(10px + 7vw);
  font-family: "Trispace", sans-serif;
  font-style: italic;
  z-index: 1000000;
  text-shadow: 10px;
}

@media screen and (max-width: 850px) {
  .show-table {
    table-layout: fixed;
    td {
      font-size: 12px !important;
    }
  }
}
