<!--app-bg-img [imgSrc]="'../../assets/images/0B8B2E8C-BB9A-43F5-A40F-246E863EF5D9.JPG'"></app-bg-img!-->
<ng-container *ngIf="gigs$ | async as gigs; else loading">
  <ng-container *ngIf="!gigs.length">
    <div class="absolute top-0 h-screen w-screen -z-10">
      <div class="flex justify-center items-center opacity-60 italic h-full">
        no gigs on the calendar for now - check back soon!
      </div>
    </div>
  </ng-container>
  <div *ngIf="gigs.length" class="grid-container flex">
    <div class="show-table grid grid-cols-5">
      <ng-container>
        <div>DATE</div>
        <div>TIME</div>
        <div>LOCATION</div>
        <div>BAND</div>
        <div>COVER</div>
      </ng-container>
      <ng-container *ngFor="let gig of gigs">
        <div>
          {{ gig.date | date : "shortDate" }}
        </div>
        <div>
          {{ gig.time }}
        </div>
        <div>
          {{ gig.location }}
        </div>
        <div>
          {{ gig.bandName }}
        </div>
        <div>
          <ng-container *ngIf="!gig.ticketLink?.length">
            {{ gig.cover && $any(gig.cover) !== "0" ? gig.cover : "FREE" }}
          </ng-container>
          <ng-container *ngIf="gig.ticketLink?.length">
            <a [href]="gig.ticketLink" class="tickets">TICKETS</a>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <div class="centered flex text-lg">loading shows...</div>
</ng-template>
