<div
  class="absolute top-0 -z-10 flex h-full w-full flex-col items-center justify-center font-bea"
>
  <h1 class="p-4 text-center font-quixote text-4xl sm:text-6xl">
    get in touch!
  </h1>
  <div
    class="mt-8 w-1/2 rounded-3xl bg-off-white text-center font-bea text-xs text-gray-700 md:text-sm"
  >
    <div class="p-4">
      Please email <i class="italic"> mgmt&#64;charliepalm.com </i>with all
      inquiries
      <div>
        Click
        <a
          href="http://eepurl.com/jfMcPE"
          class="italic underline transition-transform"
          target="_blank"
          >here</a
        >
        to sign up for Charlie's email list
      </div>
    </div>
  </div>
</div>
