@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100&display=swap');

.container {
  text-align: center;
  text-shadow: 4px 2px 10px black;
}

.title {
  font-size: 70px;
  font-family: 'Trispace', sans-serif;
  font-style: italic;
  z-index: 1000000;
  text-shadow: 10px;
  padding-top: 1rem;
  text-align: right;
  padding-right: 1rem;
}

.subtitle {
  padding-top: 1.5%;
  line-height: 150%;
  text-align: right;
  padding-left: 75%;
  font-size: 18px;
  text-overflow:ellipsis;
  text-shadow: 2px 0 3 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.return-btn-contact {
  text-align: right;
  padding-top: 2%;
  text-shadow: 2px 0 3 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000 !important;
}
