<!--app-bg-img [imgSrc]="'../../assets/images/33E00A33-EB6E-4780-8026-4F0C7D8979CD.jpeg'"></app-bg-img!-->
<ng-container>
  <div class="container">
    <h1 class="title">
      get in touch
    </h1>
    <div class='subtitle'>
      email <i style="font-style: bold, italic"> charliepalmmusic@gmail.com  </i>with all booking inquiries
    </div>
  </div>
  <div class="return-btn return-btn-contact">
    <p class="hover back-text-hover" (click)="goBack()">
      back
    </p>
  </div>
</ng-container>
