<div
  class="-z-10 mt-20 flex w-full flex-col items-start justify-center font-bea md:ml-20 lg:ml-40"
>
  <h1 class="p-4 text-right font-quixote text-4xl sm:text-6xl">
    get in touch!
  </h1>
  <div class="mt-8 w-1/2 rounded-3xl text-left font-bea text-xs md:text-sm">
    <div class="p-4">
      Please email <i class="italic"> mgmt&#64;charliepalm.com </i>with all
      inquiries
      <div>
        Click
        <a
          href="http://eepurl.com/jfMcPE"
          class="italic underline transition-transform"
          target="_blank"
          >here</a
        >
        to sign up for Charlie's email list
      </div>
    </div>
  </div>
</div>
